<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="cn.tedu.cloudnote.dao.NoteDAO">
	<!-- 批量删除 -->
	<delete id="banchDelete">
		DELETE FROM cn_note
		WHERE cn_note_id in
		<foreach collection="array" item="id" separator="," open="(" close=")">
			#{id}
		</foreach>
	</delete>
	<!-- 动态更新 -->
	<update id="dynamicUpdate" parameterType="cn.tedu.cloudnote.entity.Note">
		UPDATE cn_note
		<set >
			<if test="cn_note_title!=null">
				cn_note_title=#{cn_note_title}
			</if>
			<if test="cn_note_body!=null">
				cn_note_body=#{cn_note_body}
			</if>
			<if test="cn_note_last_modify_time!=null">
				cn_note_last_modify_time=#{cn_note_last_modify_time}
			</if>
			<if test="cn_note_status_id!=null">
				cn_note_status_id=#{cn_note_status_id}
			</if>
			<if test="cn_notebook_id!=null">
				cn_notebook_id=#{cn_notebook_id}
			</if>
			<if test="cn_note_type_id!=null">
				cn_note_type_id=#{cn_note_type_id}
			</if>
		</set>
		WHERE cn_note_id=#{cn_note_id}
	</update>
	<!-- 组合查询 -->
 	<select id="findNotes" parameterType="cn.tedu.cloudnote.entity.Note" resultType="cn.tedu.cloudnote.entity.Note">
 		SELECT * FROM cn_note
 		<where>
 			<if test="cn_note_title!=null">
 				AND cn_note_title LIKE #{cn_note_title}
 			</if>
            <if test="cn_note_status_id!=null">
 				AND cn_note_status_id=#{cn_note_status_id}
 			</if>
 			 <if test="cn_note_create_time!=null">
 				AND cn_note_create_time &gt;= #{cn_note_create_time}
 			</if>
 			 <if test="cn_note_last_modify_time!=null">
 				AND cn_note_last_modify_time &lt;= #{cn_note_last_modify_time}
 			</if>
 		</where>
 	</select>
	<select id="findNotesByNotebookId" parameterType="String" resultType="map">
		SELECT cn_note_id,cn_note_title,cn_note_type_id
		FROM cn_note
		WHERE cn_notebook_id=#{notebookId}
		AND cn_note_status_id='1'
	</select>
	<select id="findNoteByNoteId" parameterType="string" resultType="cn.tedu.cloudnote.entity.Note">
		SELECT * 
		FROM cn_note
		WHERE cn_note_id=#{noteId}
	</select>
	<update id="updateNote" parameterType="cn.tedu.cloudnote.entity.Note">
		UPDATE cn_note
		SET cn_note_title=#{cn_note_title},cn_note_body=#{cn_note_body},cn_note_last_modify_time=#{cn_note_last_modify_time}
		WHERE cn_note_id=#{cn_note_id}
	</update>
	<insert id="saveNote" parameterType="cn.tedu.cloudnote.entity.Note">
		INSERT INTO cn_note
		(cn_note_id,cn_notebook_id,cn_user_id,cn_note_status_id,
		cn_note_type_id,cn_note_title,cn_note_body,cn_note_create_time,
		cn_note_last_modify_time)
		VALUES
		(#{cn_note_id},#{cn_notebook_id},#{cn_user_id},'1','1',#{cn_note_title},'',#{cn_note_create_time},#{cn_note_last_modify_time})
	</insert>
	<update id="updateNoteStatusId" parameterType="string">
		UPDATE cn_note
		SET cn_note_status_id='2'
		WHERE cn_note_id=#{noteId}
	</update>
	<update id="updateBookId" parameterType="map">
		UPDATE cn_note
		SET cn_notebook_id=#{bookId}
		WHERE cn_note_id=#{noteId}
	</update>
	<update id="updateNoteTypeId" parameterType="string">
		UPDATE cn_note
		SET cn_note_type_id='2'
		WHERE cn_note_id=#{noteId}
	</update>
</mapper>